{% extends "crud::layouts.master" %}

{% block content %}

{% include 'crud::message' %}

<div align="right">
    <a href="{{ route('crud.index') }}" class="btn btn-default">Back</a>
</div>
<h1 id="title"> </h1>

<form id="form-submit" @submit.prevent="handleSubmit">

    {# {{ csrf_field() }} #}
    {# <input type="hidden" name="_token" v-model="_token" value="{{ csrf_token() }}"> #}
    <div class="form-group">
        <label class="col-md-4 text-right">Enter First Name</label>
        <div class="col-md-8">
            <input type="text" name="first_name" v-model="first_name" class="form-control input-lg" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="col-md-4 text-right">Enter Last Name</label>
        <div class="col-md-8">
            <input type="text" name="last_name"  v-model="last_name" class="form-control input-lg" />
        </div>
    </div>

    <br /><br /><br />
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary input-lg">Submit</button>
        {# <input type="submit" name="add" class="btn btn-primary input-lg" value="Add" /> #}
    </div>

</form>

{% endblock %}


{% block scripts %}
{# action="{{ route('crud.store') }}" enctype="multipart/form-data" #}
<script type="text/javascript">

document.getElementById("title").innerHTML = "Hello JavaScript!";

const app = new Vue({
  el: '#form-submit',
  data: {
    first_name: '',
    last_name: ''
  },
  methods: {
    handleSubmit: function() {
      alert('Processing');

      axios.post('{{ route('crud.store') }}', {
        first_name: this.first_name,
        last_name: this.last_name
    })
    .then(function (response) {
        console.log(response);
    })
    .catch(function (error) {
        console.log(error);
    });

    }
  }
});

</script>

{% endblock %}